<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookpad.core">

    <application>
        <activity
            android:name=".ui.OkReportActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".ui.CanvasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>

</manifest>